@font-face {
  font-family: "Lobster";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Lobster-Regular.woff") format("woff"),
    url("fonts/Lobster-Regular.ttf") format("ttf");
}

body {
  font-family: "Lobster", "Brush Script MT";
}

h2 {
  font-size: 30px;
}

body {
  background-image: url(../pages/img/bg.jpg);
}

#root {
  max-width: 1064px;
  margin: 0 auto;
}
